<div class="card bg-dark text-white">
  <div class="card-header">
    {{titulo}}
  </div>

  <div class="card-body">
    <form #clienteForm="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text"
                 name="nombre"
                 [(ngModel)]="cliente.nombre"
                 class="form-control"
                 placeholder="Ingrese su Nombre"
                 required>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text"
                 name="apellido"
                 [(ngModel)]="cliente.apellido"
                 class="form-control"
                 placeholder="Ingrese su Apellido"
                 required>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email"
                 name="email"
                 [(ngModel)]="cliente.email"
                 class="form-control"
                 placeholder="Ingrese su Email"
                 required>
        </div>
      </div>
      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
        <div class="col-sm-6">
          <input type="number"
                 name="telefono"
                 [(ngModel)]="cliente.telefono"
                 class="form-control"
                 placeholder="Ingrese su telefono"
                 required>
        </div>
      </div>
      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date"
                 name="fecha"
                 [(ngModel)]="cliente.createdAt"
                 class="form-control"
                 >
        </div>
      </div>

      <div class="form-group row">
        <label for="telefono" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion"  name="region" style="width: 500;" [(ngModel)]="cliente.region">
            <option [ngValue]="undefined">---Seleccione una region---</option>
            <option *ngFor="let reg of regiones" [ngValue]="reg" >{{reg.nombre}}</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button *ngIf="!cliente.id" class="btn btn-primary" (click)="create()">Crear</button>

          <button *ngIf="cliente.id" class="btn btn-primary" (click)="update()">Editar</button>

        </div>

      </div>


    </form>

  </div>


</div>
